version: '3.9'

services:
  server:
    build: ./backend
    container_name: express-server
    ports:
      - "5500:5500"
    networks:
      - fullstack-net
    restart: unless-stopped
  client:
    build: ./frontend
    container_name: react-client
    ports:
      - "5173:3000"
    networks:
      - fullstack-net
    depends_on:
      - server
    restart: unless-stopped

networks:
  fullstack-net:
    driver: bridge