#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background-color: #111;
}
.flex-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.card-container{
  margin-top: 10px;
  display: flex;
  gap: 2vw;
  justify-content: space-between;
}
